{:deps     {:aliases [:client]}
 :nrepl    {:port 9000}
 :dev-http {8080 "public"}
 :builds   {:app {:target           :browser
                  :compiler-options {:source-map true}
                  :modules          {:main {:init-fn pl.enajski.scramblies.client.core/init}}}}}
